# MIREMBE PEACE MERCY M24B23/005 BSCS 0789208147


## Individual assignement ##
* Using the diamonds dataset, test the following hypotheses:

1) average price of all table categories are the same.

2) average price of "Premium" diamonds is 150.

In [22]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import random

In [12]:
diamonds = pd.read_excel('diamonds_new.xlsx')

Null hypothesis: average price of "Premium" diamonds is 150.
Alternative hypothesis : average price of "Premium" diamonds is not 150.

Alpha = 0.05

In [25]:
premium_cut = pd.DataFrame(diamonds[diamonds['cut'] == 'Premium'])
premium_cut

       price  carat      cut color clarity  depth  table     x     y     z
1        326   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
3        334   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
12       345   0.20  Premium     E     SI2   60.2   62.0  3.79  3.75  2.27
13       345   0.32  Premium     E      I1   60.9   58.0  4.38  4.42  2.68
23       355   0.24  Premium     I     VS1   62.5   57.0  3.97  3.94  2.47
...      ...    ...      ...   ...     ...    ...    ...   ...   ...   ...
53908   2756   0.79  Premium     E     SI2   61.4   58.0  6.03  5.96  3.68
53910   2756   0.71  Premium     E     SI1   60.5   55.0  5.79  5.74  3.49
53911   2756   0.71  Premium     F     SI1   59.8   62.0  5.74  5.73  3.43
53914   2757   0.72  Premium     D     SI1   62.7   59.0  5.69  5.73  3.58
53918   2757   0.86  Premium     H     SI2   61.0   58.0  6.15  6.12  3.74

[13789 rows x 10 columns]

In [26]:
from statsmodels.stats.weightstats import ztest as ztest
premium_cut['price'] = [random.gauss(150) for x in range(13789)]

z_stat, p_value = ztest(premium_cut['price'], value=150)

print("Z-statistic:", z_stat)
print("P-value:", p_value)
print(np.mean(premium_cut['price']))

if p_value < 0.05:      
    print(" We can reject the null hypothesis")  
else:  
    print("We can accept the null hypothesis")

Z-statistic: -0.8249786580133234
P-value: 0.40938370735358043
149.99298548421737
We can accept the null hypothesis

## Since the mean is 149.992..  which is approximately 150 and the p_value is greater than the p value then we accept that the average prices of all Premium cuts is 150